.netflix-top{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0px 15px;
}
.netflix-logo{
  width: 160px;
  margin: 0 20px;
}
.sign-in{
  margin: 0 20px;
  
}
.sign-in-btn{
  background-color: rgb(229, 9, 20);
  width: 80px;
}



.dropbtn {
  background-color: rgb(229, 9, 20);
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #a50d0d;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 100px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(250, 246, 246);
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #33c3ef;}

.show {display: block;}